<div class="profile-container">

  <div class="profile-top">
    <p class="name"><%= @client.name %></p>
    <p class="top-field"><%= @client.phone %></p>
    <p class="top-field"><%= @client.formatted_birthdate %></p>
    <p class="top-field"><%= [human_readable_text(@client.gender), human_readable_text(@client.ethnicity)].compact.join(" | ") %></p>
    <%= link_to "Edit Client", edit_users_client_path(@client) %>
  </div>

  <%= render "referral" %>

  <div id="profile-toggle-container">
    <%= link_to "Activity Log", "#", class: "profile-toggle-btn active", onclick: "$('.profile-toggle-btn').removeClass('active');$(this).addClass('active');$(this).addClass('active'); $('.client-details-container').removeClass('active'); $('.timeline-container').addClass('active'); return false;" %>
    <%= link_to "Client Details", "#", class: "profile-toggle-btn", onclick: "$('.profile-toggle-btn').removeClass('active');$(this).addClass('active');$(this).addClass('active'); $('.timeline-container').removeClass('active'); $('.client-details-container').addClass('active'); return false;"  %>
  </div>

  <div class="client-details-container">
    <p class="middle-field"><span class="field-title">Last Contacted:</span> <%= @client.last_contacted %></p>
    <p class="middle-field"><span class="field-title">Contacted Via:</span> <%= @client.contact_types %></p>

    <hr>
    <p class="middle-field"><span class="field-title">Veteran:</span> <%= human_readable_boolean(@client.veteran?) %></p>
    <p class="middle-field"><span class="field-title">Domestic Abuse Victim: </span> <%= human_readable_boolean(@client.domestic_assault_victim?) %></p>
    <p class="middle-field"><span class="field-title">Employed:</span> <%= human_readable_boolean(@client.employed?) %></p>
    <p class="middle-field"><span class="field-title">Education Level:</span> <%= human_readable_text(@client.education) %></p>
  </div>

  <div class="timeline-container active">
<!--     <div class="timeline-item">
      <%= link_to "#", class: "new-note-btn" do %>
        <i class="timeline-icon fa fa-plus "></i>
        <div class="timeline-text-container">
          <span class="timeline-main-text">Create A Note</span>
        </div>
      <% end %>
    </div> -->

    <%= render partial: "users/clients/activity_interaction", collection: @client.interactions, as: :activity_interaction %>
  </div>

</div>
