<script type="text/javascript">
  $(function() {
    $("form.new_event input[type='submit']").click(function(e){
      var replyBody = $("input#event_content").val();
      if (0 === replyBody.length) {
        e.preventDefault();
        alert("You must enter a reply.")
      }
    })

    $(".referral-send-container button.send-referral").click(function() {
      var code = $(this).data("referral-code");
      $("input#event_content").val("Your code is: "+code);
    })
  })
</script>

<div class="container-left">
  <div class="provider-form">
    <%= form_for [:users, @interaction, @event] do |f| %>
      <%= f.hidden_field :interaction_id %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :source_type, value: 'sms' %>

      <%= f.text_field :content %>
      <%= f.submit "Note", class: 'c-btn' %>
      <%= f.submit "Reply", class: 'c-btn' %>
    <% end %>
  </div>

  <%= render partial: "sms_messages" %>
</div>

<div class="container-right">
  <%= render partial: "clients/profile_and_timeline" %>
</div>
