<!DOCTYPE html>
<html>
<head>
  <title>Advocate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/370cf7d40a.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-b8ebWEM6fpafSwau-KnaVlxyNmKcDSo"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

  <%= javascript_include_tag 'application' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
</head>
<body>

  <%= render partial: "layouts/header" %>

  <div class="page-container">
    <%= yield %>
  </div>

</body>
</html>
